<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{{title}}}</title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
  <meta name="description" content="Link aggregator of discussions about {{{raw-topic}}}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" type="text/css" href="style.css"/>
  <link rel="apple-touch-icon" sizes="180x180" href="./assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./assets/favicon-16x16.png">
</head>
<body>
  <header>
    <div class="content-box">
    <h1 class="title">{{title}}</h1>
    <div class="description">Link aggregator of discussions about {{{topic}}}</div>
    </div>
  </header>
  <main>
    <div class="content-box">
  {{{body}}}
    </div>
  </main>
  <footer>
    <div class="content-box">
    {{#more-info}}<p class="info">{{{info}}}</p>{{/more-info}}
    {{{more-links}}}
    <p>Report any issues on this project's <a href="https://gitlab.com/Lysxia/coq-planet">Gitlab repository</a>.</p>
    <p>Last updated: <span id="updated-time">{{update}}</span></p>
    </div>
  </footer>
  <script>
const cur = new Date();

const MINUTE = 60 * 1000;
const HOUR = 60 * MINUTE;
const DAY = 24 * HOUR;
const WEEK = 7 * DAY;
const MONTH = 30 * DAY;
const YEAR = 365 * DAY;

document.querySelectorAll("#updated-time").forEach(function(node){
  const dateString = node.innerHTML;
  const date = new Date(dateString.substring(0,19)+"+0000");

  if (isNaN(date)) return;

  const diff = (cur - date);

  if (diff < MINUTE) {
    node.setAttribute("title", dateString)
    node.innerHTML = "Now"
  } else if (diff < 60 * MINUTE) {
    node.setAttribute("title", dateString)
    node.innerHTML = Math.round(diff / MINUTE) + " minute(s) ago"
  } else if (diff < DAY) {
    node.setAttribute("title", dateString)
    node.innerHTML = Math.round(diff / HOUR) + " hour(s) ago"
  } else if (diff < 7 * DAY) {
    node.setAttribute("title", dateString)
    node.innerHTML = Math.round(diff / DAY) + " day(s) ago"
  }
})

cur.setHours(0);
cur.setMinutes(0);
cur.setSeconds(0);
cur.setMilliseconds(0);

document.querySelectorAll(".item-time").forEach(function(node){
  const dateString = node.innerHTML;
  const date = new Date(dateString);

  if (isNaN(date)) return;

  const diff = (cur - date);
  const diff_days = Math.round(diff / DAY);
  const diff_weeks = Math.round (diff / WEEK);
  const diff_months = Math.round (diff / MONTH);
  const diff_years = Math.round(diff / YEAR);

       if (diff_days <= 0)   { node.innerHTML = "Today" }
  else if (diff_days === 1)  { node.innerHTML = "Yesterday" }
  else if (diff_days < 7)    { node.innerHTML = diff_days   + " days ago" }
  else if (diff_weeks <= 1)  { node.innerHTML = "1 week ago" }
  else if (diff_weeks < 4)   { node.innerHTML = diff_weeks  + " weeks ago" }
  else if (diff_months <= 1) { node.innerHTML = "1 month ago" }
  else if (diff_months < 12) { node.innerHTML = diff_months + " months ago" }
  else if (diff_years <= 1)  { node.innerHTML = "1 year ago" }
  else { node.innerHTML = diff_years + " years ago" }
})
  </script>
</body>
</html>
