.grid-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35em, 1fr));
  grid-column-gap: 1em;
}

.grid-item {
  padding: 0 1em;
}

html {
  font-family: sans-serif;
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

/* Flexbox with header, footer, main */
body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}


/* Avoid margin collapse with contents */
header::before, header::after,
main::before, main::after,
footer::before, footer::after {
  content: ' ';
  display: block;
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

header, footer {
  margin: 0;
  background: {{{header-color}}};
  color: white;
}

header, footer, main {
  padding: 0em;
}

.content-box {
  margin: 0 1em;
}

header a:link, footer a:link {
  color: {{{header-link-color}}};
  text-decoration: underline;
}

header a:visited, footer a:visited,
header a:active, footer a:active {
  color: {{{header-active-link-color}}};
}

.title::before {
  content: '';
  background: url('assets/logo-inverted.png');
  background-size: 38px 38px;
  width: 38px;
  height: 38px;
  display: inline-block;
  vertical-align: text-top;
  margin-right: 8px;
}

.description {
  margin: 1em 0;
}

@media (min-width: 600px) {
.description {
  font-size: larger;
}
}

main {
  margin-top: 0.5em;
  margin-bottom: 1em;
  height: 100%;
}

footer {
  box-shadow: 0 50vh 0 50vh {{{header-color}}};
}

a:link {
  text-decoration: none;
  color: {{{link-color}}};
}

a:hover, a:active {
  text-decoration: underline;
}

a:visited, a:active {
  color: {{{active-link-color}}};
}

.source-info::after {
  content: attr(title);
  margin-left: 8px;
  font-size: smaller;
  font-weight: normal;
  color: gray;
}

ul {
  list-style-type: none;
}

ul.link-table {
  padding: 0 2em;
}

.item-line {
  display:table;
  width: 100%;
}

.item-title {
  width: 100%;
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-part {
  display: table-cell;
  white-space: nowrap;
}

.item-before-sep::before {
  padding: 0 0.5em;
  content: '|';
}

@media (max-width: 600px) {
.grid-box {
  grid-template-columns: 1fr;
}

.grid-item {
  padding: 0;
}

.content-box {
  margin: 0 8px;
}

ul.link-table {
  padding: 0;
}

.item-part-meta {
  font-size: small;
  max-width: 4em;
  overflow: hidden;
}
}
